<% include ./partials/header %>
<div class="ui container" style="margin-top:70px;width:50%;">
  <h3>Add New Blog Here:</h3>
    <form class="ui form" action="/blogs" method="POST">
      <div class="field">
        <label>Blog Title:</label>
        <input type="text" name="name" placeholder="Title">
      </div>
      <div class="field">
        <label>Blog image:</label>
        <input type="text" name="image" placeholder="blog-image url">
      </div>
      <div class="field">
          <label>Blog Description:</label>
         <textarea name="bodypost"  cols="30" rows="10"></textarea>
        </div>
      
      <button class="ui button" type="submit">Submit</button>
    </form>
  </div>
<% include ./partials/header %>